.pink {
  width: 100px;
  height: 100px;
  color: red;
  background-color: pink;
  text-align: center;
}
.red {
  color: pink;
}
.border {
  border: 1px solid black;
}

.h3 {
  background-color: blue;
}
.p {
  background-color: pink;
}
